
<div class="layui-card-header">版本信息</div>
<div class="layui-card-body layui-text layadmin-about">
  <blockquote class="layui-elem-quote" style="border: none;">
    <script type="text/html" template>
      <pre style="margin:0;font-family:Consolas,Monaco,monospace;font-size:12px;line-height:1.8;white-space:pre-wrap;">{{ hs_version }}</pre>
    </script>
  </blockquote>

  <blockquote class="layui-elem-quote" style="border: none;">
    <script type="text/html" template>
      Headscale-Admin-Pro v5.4
    </script>
  </blockquote>

</div>
