
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>节点中心</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/static/layui/css/layui.css" rel="stylesheet">
  <link href="/static/adminui/dist/css/admin.css" rel="stylesheet">
</head>
<body>


  
  <div class="layui-fluid">
    <div class="layui-row layui-col-space15">
      <div class="layui-col-md12">
        <div class="layui-card">
          <div class="layui-card-header">节点中心</div>
          <div class="layui-card-body">
            <table class="layui-hide" id="test-table-index" lay-filter="test-table-index"></table>

            <script type="text/html" id="toolbarDemo">
              <div class="layui-btn-container">
                <button id="switchButton" class="layui-btn layui-btn-sm" lay-event=""></button>
                <button class="layui-btn layui-btn-sm" lay-event="reload">刷新</button>
                
                <button class="layui-btn layui-btn-sm layui-btn-primary" lay-event="multi-row">
                  多行
                </button>
                <button class="layui-btn layui-btn-sm layui-btn-primary" lay-event="default-row">
                  单行
                </button>

              </div>
            </script>
              {% raw %}

            <script type="text/html" id="TPL-lastTime">  
                {{#  
                  var util = layui.util;
                  var lastTime = function(){
                    return util.timeAgo(d.lastTime);
                  }; 
                }}
                {{= lastTime() }}
            </script>               
            {% endraw %}

            <script type="text/html" id="barDemo">
              <a class="layui-btn layui-btn-info layui-btn-xs" lay-event="detail">查看</a>
              <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
            </script>  
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <script src="/static/layui/layui.js"></script>

  <script>
  layui.config({
    base: '/static/' // 静态资源所在路径
  }).use(['index', 'table', 'dropdown'], function(){
    var table = layui.table;
    var $ = layui.$;

    // 通过判断后端是否返回ip_address弹出节点信息

    ip_address = '{{ ip_address }}';


    if (ip_address == "error"){
        layer.alert('{{ error_info }}', {
            icon: 7,
            shadeClose: true,
            title: '节点添加失败'
            }, function(){
                // 跳转到新的页面是为了放在页面刷新导致重复添加节点
                window.location.href = '/admin/node';
            }
        )
    } else if(ip_address && ip_address != "error"){
        layer.alert('ip地址: '+ ip_address, {
            icon: 1,
            shadeClose: true,
            title: '节点添加成功'
            }, function(){
                // 跳转到新的页面是为了放在页面刷新导致重复添加节点
                window.location.href = '/admin/node';
            }
        )
    }

  

    // 创建渲染实例
    table.render({
      elem: '#test-table-index'
      ,url: '/api/node/getNodes' // 此处为静态模拟数据，实际使用时需换成真实接口
      ,toolbar: '#toolbarDemo'
      ,defaultToolbar: ['filter', 'exports', 'print', {
        title: '帮助'
        ,layEvent: 'LAYTABLE_TIPS'
        ,icon: 'layui-icon-tips'
      }]
      ,height: 'full-100' // 最大高度减去其他容器已占有的高度差
      ,cellMinWidth: 80
      ,totalRow: true // 开启合计行
      ,page: true

      ,cols: [[
            //{type: 'checkbox', fixed: 'left'}
            {field:'id', fixed: 'left', width:80, title: 'ID', sort: true, totalRowText: '合计：'}
            {% if current_user.role == 'manager' %}
                ,{field:'userName', width:180, title: '用户名', sort: true, edit: 'text',totalRow: '  {% raw %}{{= d.TOTAL_ROW.count   }}{% endraw %} 😊'}
            {% endif %}
            ,{field:'name', width:180, title: '节点名', edit: 'text'
                {% if current_user.role == 'user' %}
                    ,totalRow: ' {% raw %}{{= d.TOTAL_ROW.count   }}{% endraw %} 😊'
                {% endif %}
            }
            ,{field:'ip', width: 160, title: 'ip地址'}
            ,{field:'createTime', title:'创建时间', width: 180, sort: true}
            ,{fixed: 'right', title:'操作', width: 120, minWidth: 120, toolbar: '#barDemo'}
        ]]

      ,error: function(res, msg){
        console.log(res, msg)
      }
    });

    function keepButtonStatus(){
        // 判断是否在iframe内，如果不在则显示主页按钮
        if (window.top !== window) {
            $('#switchButton').attr('lay-event', 'addNode');
            $('#switchButton').text('添加节点');
        }else{
            $('#switchButton').attr('lay-event', 'goHome');
            $('#switchButton').text('返回主页');
        }
    }

    keepButtonStatus()




    //事件-单元格编辑
    table.on('edit(test-table-index)', function(obj){
      var value = obj.value //得到修改后的值
      ,data = obj.data //得到所在行所有键值
      ,field = obj.field; //得到字段

      console.log(field)


      if (field == "name"){
        $.ajax({
        url:'/api/node/rename',
        type: 'post',
        dataType: 'json',
        data: {nodeId: obj.data.id,nodeName: obj.value},
        success:function(res){
            // console.log(res.code)
            if(res.code == 0){
              layer.msg(res.msg, {icon: 6});
              var field = 'name' //得到字段
              ,value = obj.value //得到修改后的值
              ,data = obj.data; //得到所在行所有键值
              var update = {};
              update[field] = value;
              obj.update(update);
            }else{
              layer.msg(res.msg, {icon: 7});
            }
          }
        });
      }else if(field == "userName"){
        $.ajax({
        url:'/api/node/new_owner',
        type: 'post',
        dataType: 'json',
        data: {nodeId: data.id,userName: value},
        success:function(res){
            // console.log(res.code)
            if(res.code == 0){
              layer.msg(res.msg, {icon: 6});
            }else{
              layer.msg(res.msg, {icon: 7});
            }
          }
        });
      }
      
    });






    
    // 工具栏事件
    table.on('toolbar(test-table-index)', function(obj){
      var $ = layui.$;
      var util = layui.util;
      var id = obj.config.id;
      var checkStatus = table.checkStatus(id);
      var othis = lay(this);
      switch(obj.event){
        case 'goHome':
          window.location.href = '/admin';

        break;
        case 'addNode':
          layer.prompt({title: '请输入节点id'}, function(value, index, elem){
            if(value === '') return elem.focus();


            $.ajax({
              url:'/api/node/register',
              type: 'post',
              dataType: 'json',
              data: {nodekey: util.escape(value)},
              success:function(res){
                  console.log(res)
                  if(res.code == 0){
                    layer.msg(res.msg, {icon: 6});
                    table.reload('test-table-index',true);
                    keepButtonStatus()
                  }else{
                      layer.msg(res.msg, {icon: 7});
                  }

              }
            });

            // 关闭 prompt
            layer.close(index);
          });
        break;
        case 'reload':
          var data = checkStatus.data;
          table.reload('test-table-index',true);
        break;

        case 'multi-row':
          table.reload('test-table-index', {
            // 设置行样式，此处以设置多行高度为例。若为单行，则没必要设置改参数 - 注：v2.7.0 新增
            lineStyle: 'height: 95px;' 
          });
          layer.msg('已设为多行显示');
        break;
        case 'default-row':
          table.reload('test-table-index', {
            lineStyle: null // 恢复单行
          });
          layer.msg('已设为单行显示');
        break;
        case 'LAYTABLE_TIPS':
          layer.alert('Table for layui-v'+ layui.v);
        break;
      };
        keepButtonStatus()
    });
   
    //触发单元格工具事件
    table.on('tool(test-table-index)', function(obj){ // 双击 toolDouble
      var $ = layui.$;
      var data = obj.data;
      // console.log(obj)
      if(obj.event === 'del'){
        layer.confirm('真的删除行么', function(index){

          layer.close(index);

          $.ajax({
            url:'/api/node/delete',
            type: 'post',
            dataType: 'json',
            data: {NodeId: obj.data.id},
            success:function(res){


              if(res.code == 0){
                layer.msg(res.msg, {icon: 6});
                obj.del();
              }else{
                layer.msg(res.msg, {icon: 7});
              }
            }
          });
          
        });
      }else if(obj.event === 'detail'){

        // 先定义弹窗内容的容器（用唯一ID标识，方便后续修改）
        var dialogContent = `<div id="node-detail-content" style="padding: 20px;"></div>`;
   
          // 打开弹窗（无需保存索引，通过ID定位DOM）
        layer.open({
          title: '节点信息',
          type: 1,
          area: ['600px','400px'],
          content: dialogContent // 传入带ID的容器
        });



        $.ajax({
            url:'/api/node/node_info',
            type: 'post',
            dataType: 'json',
            data: {NodeId: obj.data.id},
            success:function(res){
              if (res.code === "0") {
                // 直接使用接口返回的data数组，取第一个元素
                const dataList = res.data;
                const post_data = dataList.length > 0 ? dataList[0] : {};
                
                let node_online = post_data.online;
                node_online = node_online == 'true' ? "在线" : "离线";

                // 处理路由通告
                const availableRoutes = post_data.availableRoutes || [];
                const routesStr = availableRoutes.length > 0 
                    ? '<br>&nbsp;&nbsp;&nbsp;&nbsp;' + availableRoutes.join('<br>&nbsp;&nbsp;&nbsp;&nbsp;') 
                    : '无可用路由';

                // 只保留指定的四个信息
                $('#node-detail-content').html(`
                    客户端: ${data.Client}<br>
                    操作系统: ${data.OS}<br>
                    状态: ${node_online}<br>
                    路由通告: ${routesStr}
                `);
              } else {
                  layer.msg(res.msg, {icon: 7});
              }
            }
          });
      }
    });
   


  });
  </script>
</body>
</html>


