
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>layui table 组件综合演示</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/static/layui/css/layui.css" rel="stylesheet">
  <link href="/static/adminui/dist/css/admin.css" rel="stylesheet">
</head>
<body>


  
  <div class="layui-fluid">
    <div class="layui-row layui-col-space15">
      <div class="layui-col-md12">
        <div class="layui-card">
          <div class="layui-card-header">预共享密钥中心</div>
          <div class="layui-card-body">
            <table class="layui-hide" id="test-table-index" lay-filter="test-table-index"></table>

            <script type="text/html" id="toolbarDemo">
              <div class="layui-btn-container">
                <button class="layui-btn layui-btn-sm" lay-event="add">新建</button>
                <button class="layui-btn layui-btn-sm" lay-event="reload">刷新</button>
              </div>
            </script>
             


            <script type="text/html" id="barDemo">
              <!-- 这里的 checked 的状态只是演示 -->
               <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
            </script>
             

          </div>
        </div>
      </div>
    </div>
  </div>
  
  <script src="/static/layui/layui.js"></script>
  <script>
  layui.config({
    base: '/static/' // 静态资源所在路径
  }).use(['index', 'table', 'dropdown','form'], function(){
    var table = layui.table
    ,form = layui.form
    ,$ = layui.$;
    var dropdown = layui.dropdown;
    
    // 创建渲染实例
    table.render({
      elem: '#test-table-index'
      ,url: '/api/preauthkey/getPreAuthKey' // 此处为静态模拟数据，实际使用时需换成真实接口
      ,toolbar: '#toolbarDemo'
      ,defaultToolbar: ['filter', 'exports', 'print', {
        title: '帮助'
        ,layEvent: 'LAYTABLE_TIPS'
        ,icon: 'layui-icon-tips'
      }]
      ,height: 'full-100' // 最大高度减去其他容器已占有的高度差
      ,cellMinWidth: 80
      ,totalRow: true // 开启合计行
      ,page: true
      ,cols: [[
            {field:'id', title:'ID', width:10, unresize: true, sort: true, totalRowText: '合计：'}
            {% if current_user.role == 'manager' %}
                ,{field:'name', title:'用户名',width:200, totalRow: '  {% raw %}{{= d.TOTAL_ROW.count   }}{% endraw %} 😊'}
            {% endif %}
            ,{field:'key', title:'密钥',width:300
                {% if current_user.role == 'user' %}
                    ,totalRow: ' {% raw %}{{= d.TOTAL_ROW.count   }}{% endraw %} 😊'
                {% endif %}
            }
            ,{field:'create_time', title:'创建时间',width:300}
            ,{field:'expiration', title: '到期时间', width:300, sort: true}
            ,{fixed: 'right', title:'操作', width: 70, minWidth: 70, toolbar: '#barDemo'}
        ]]
      ,error: function(res, msg){
        console.log(res, msg)
      }
    });


    
    
    // 工具栏事件
    table.on('toolbar(test-table-index)', function(obj){
      var $ = layui.$;
      var util = layui.util;
      var id = obj.config.id;
      var checkStatus = table.checkStatus(id);
      var othis = lay(this);
      switch(obj.event){
        case 'reload':
          table.reload('test-table-index',true);
        break;
        case 'add':
          layer.confirm('真的需要使用吗', function(index){
            $.ajax({
              url:'/api/preauthkey/addKey',
              type: 'post',
              dataType: 'json',
              success:function(res){
                if(res.code == 0){
                  layer.msg('新建成功', {icon: 6});
                  table.reload('test-table-index',true);
                }else{
                  layer.msg('新建失败', {icon: 7});
                }
              }
            });
          });
          
        break;

      
      };
    });
   
    //触发单元格工具事件
    table.on('tool(test-table-index)', function(obj){ // 双击 toolDouble
      var $ = layui.$;

      // console.log(obj)
      if(obj.event === 'del'){
        layer.confirm('真的删除行么', function(index){

          layer.close(index);

          $.ajax({
            url:'/api/preauthkey/delKey',
            type: 'post',
            dataType: 'json',
            data: {keyId: obj.data.id},
            success:function(res){
              if(res.code == 0){
                layer.msg(res.msg, {icon: 6});
                obj.del();
              }else{
                layer.msg(res.msg, {icon: 7});

              }
              
            }
          });
          
        });
      }
    });


   

  });
  </script>
</body>
</html>
