<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>用户注册中心</title>
  <!-- 请勿在项目正式环境中引用该 layui.css 地址 -->
    {#  <link href="//unpkg.com/layui@2.9.18/dist/css/layui.css" rel="stylesheet">#}
  <link href="static/layui/css/layui.css" rel="stylesheet">
  <link href="static/adminui/dist/css/admin.css" rel="stylesheet">
  <link href="static/adminui/dist/css/login.css" rel="stylesheet">
</head>
<body>
<style>
.demo-reg-container{width: 320px; margin: 21px auto 0;}
.demo-reg-other .layui-icon{position: relative; display: inline-block; margin: 0 2px; top: 2px; font-size: 26px;}
h2{margin-top:35px;margin-bottom:50px;text-align:center;font-weight:300;font-size:30px}
#code{width:120px;height:36px;font-family:Arial,宋体;font-style:italic;font-size:24px;color:green;border:0;padding:2px 3px;letter-spacing:3px;font-weight:bolder}
#captchaImage{width:120px;height:36px}
</style>
<div class="layadmin-user-login-box layadmin-user-login-header">
<h2>账户注册</h2>
</div>
<form class="layui-form">
  <div class="demo-reg-container">


    <div class="layui-form-item">
      <div class="layui-input-wrap">
        <div class="layui-input-prefix">
          <i class="layui-icon layui-icon-username"></i>
        </div>
        <input type="text" name="username" value="" lay-verify="required" placeholder="用户名" autocomplete="off" class="layui-input" lay-affix="clear">
      </div>
    </div>


    <div class="layui-form-item">
      <div class="layui-row">
          <div class="layui-input-wrap">
            <div class="layui-input-prefix">
              <i class="layui-icon layui-icon-cellphone"></i>
            </div>
            <input type="text" name="phone" value="" lay-verify="required" placeholder="手机号" lay-reqtext="请填写手机号" autocomplete="off" class="layui-input" id="reg-cellphone">
          </div>
      </div>
    </div>

     <div class="layui-form-item">
      <div class="layui-row">
          <div class="layui-input-wrap">
            <div class="layui-input-prefix">
              <i class="layui-icon layui-icon-email"></i>
            </div>
            <input type="text" name="email" value="" lay-verify="required" placeholder="邮箱" lay-reqtext="请填写邮箱地址" autocomplete="off" class="layui-input" id="reg-email">
          </div>
      </div>
    </div>



    <div class="layui-form-item">
      <div class="layui-input-wrap">
        <div class="layui-input-prefix">
          <i class="layui-icon layui-icon-password"></i>
        </div>
        <input type="password" name="password" value="" lay-verify="required" placeholder="密码" autocomplete="off" class="layui-input" id="reg-password" lay-affix="eye">
      </div>
    </div>
    <div class="layui-form-item">
      <div class="layui-input-wrap">
        <div class="layui-input-prefix">
          <i class="layui-icon layui-icon-password"></i>
        </div>
        <input type="password" name="confirmPassword" value="" lay-verify="required|confirmPassword" placeholder="确认密码" autocomplete="off" class="layui-input" lay-affix="eye">
      </div>
    </div>

    <div class="layui-form-item">
      <div class="layui-col-xs7">
          <div class="layui-input-wrap">
            <div class="layui-input-prefix">
              <i class="layui-icon layui-icon-vercode"></i>
            </div>
            <input type="text" name="vercode" value="" lay-verify="required" placeholder="验证码" lay-reqtext="请填写验证码" autocomplete="off" class="layui-input">
          </div>
      </div>
      <div class="layui-col-xs5">
        <div style="margin-left: 10px;">
            <img src=""  id="captchaImage">
        </div>
      </div>
    </div>

    <div class="layui-form-item">
      <input type="checkbox" name="agreement" lay-verify="required" lay-skin="primary" title="同意">
      <a href="#terms" target="_blank" style="position: relative; top: 6px; left: -15px;">
        <ins>用户协议</ins>
      </a>
    </div>
    <div class="layui-form-item">
      <button class="layui-btn layui-btn-fluid" lay-submit lay-filter="demo-reg">注册</button>
    </div>
    <a href="login" class="layadmin-user-jump-change layadmin-link layui-hide-xs">用已有帐号登入</a>
    <a href="login" class="layadmin-user-jump-change layadmin-link layui-hide-sm layui-show-xs-inline-block">登入</a>
  </div>
</form>

<!-- 请勿在项目正式环境中引用该 layui.js 地址 -->
  <script src="static/layui/layui.js"></script>
<script>

function generateUUID(){
    {#alert("123")#}
    var d = new Date().getTime();
    var uuid = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
      var r = (d + Math.random()*16)%16 | 0;
      d = Math.floor(d/16);
      return (c=='x' ? r : (r&0x3|0x8)).toString(16);
    });
    return uuid;

}

function get_captcha(){
    captcha_uuid = generateUUID();
    document.getElementById('captchaImage').src = '/get_captcha?captcha_uuid=' + captcha_uuid;
    return captcha_uuid
}

layui.use(function(){
  var $ = layui.$;
  var form = layui.form;
  var layer = layui.layer;
  var util = layui.util;
  var captcha_uuid = get_captcha();


  // 点击按钮更新验证码
  $('#captchaImage').click(function(){
      captcha_uuid = get_captcha();
      console.log(captcha_uuid)
  });


  console.log(captcha_uuid)

  // 自定义验证规则
  form.verify({
    // 确认密码
    confirmPassword: function(value, item){
      var passwordValue = $('#reg-password').val();
      if(value !== passwordValue){
        return '两次密码输入不一致';
      }
    }
  });

  // 提交事件
  form.on('submit(demo-reg)', function(data){
    var field = data.field; // 获取表单字段值
    field['captcha_uuid'] = captcha_uuid;
    console.log(field)
    // 是否勾选同意
    if(!field.agreement){
      layer.msg('您必须勾选同意用户协议才能注册');
      return false;
    }


    $.ajax({
        url:'./reg',
        type: 'post',
        data:field,
        dataType: 'json',
        success:function(res){
          if(res.code == 0){
            layer.msg(res.msg, {icon: 6});
            setTimeout(function() {
                location.href="login?username="+field.username
                {#alert('success')#}
            }, 1000);
          }else{
            layer.msg(res.msg, {icon: 7});
            captcha_uuid = get_captcha();
          }

        }
    });

    return false; // 阻止默认 form 跳转
  });



});
</script>

</body>
</html>